@import "tailwindcss";
*, *::before, *::after{
   box-sizing: border-box;
}
@theme{

--breakpoint-base: 56.563rem;
}
img{
    max-width: 100%;
    display:block;
}
/*remove dafault margin*/
body,
h1,
h2,
h3,
h4,
h5,
p,
figure, 
blockquote,
dl,
dd
{
    margin:0;
}
ul[role='list'],
ol[role='list']{
    list-style:none;
    margin:0;
    padding:0;
}
.container-width{
    max-width:1440px;
}
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    background-color: #242424b6;
  }
  .close {
    display: none;
  }
  .close-cart{
    display: none;
  }
  @media(min-width:906px){
    .close-cart{
      display: flex;
    }
  }
  .cart-bg{
    background-color: #D0C7BA;
  }
  .cart-btn{
    background: #a80202;
    border: 1px solid transparent;
  }
  .cart-btn:hover{
    background:#790202;
    border: 1px solid #a80202;
  }
  .indicator-container{
    margin-top: -16px;
    z-index: 40;
  }
  .primary-color{
    color:#a80202;
  }